#versions {
    margin-left:20px;
}
#subset {
    margin-left:20px;
}
.versiontable td {
    padding-right: 20px;
    padding-bottom: 5px;
}
.orig_versiontable td {
    padding-right: 20px;
    padding-bottom: 20px;
}
