{% ckan_extends %}

{% block resource_actions_inner %}
{% if h.check_access('resource_update', {'id':res.id }) %}
  <li>{% link_for _('Manage'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn', icon='wrench' %}</li>
{% endif %}
{% if res.url and h.is_url(res.url) %}
  <li>
    <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
      {% if res.resource_type in ('listing', 'service') %}
        <i class="icon-eye-open"></i> {{ _('View') }}
      {% elif  res.resource_type == 'api' %}
        <i class="icon-key"></i> {{ _('API Endpoint') }}
      {% elif not res.has_views or not res.can_be_previewed %}
        <i class="icon-external-link"></i> {{ _('Go to resource') }}
      {% else %}
        <i class="icon-download"></i> {{ _('Download') }}
      {% endif %}
    </a>
  </li>
{% endif %}
{% if 'datastore' in g.plugins %}
  <li>{% snippet 'package/snippets/data_api_button.html', resource=res, datastore_root_url=c.datastore_api %}</li>
{% endif %}
{% endblock %}

{% block resource_content %}
  {% block resource_read_title %}<h1 class="page-heading">{{ h.resource_display_name(res) | truncate(50) }}</h1>{% endblock %}
  {% block resource_read_url %}
    {% if res.url and h.is_url(res.url) %}
      <p class="muted ellipsis">{{ _('URL:') }} <a href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
    {% elif res.url %}
      <p class="muted ellipsis">{{ _('URL:') }} {{ res.url }}</p>
    {% endif %}
  {% endblock %}
  <div class="prose notes" property="rdfs:label">
    {% if res.description %}
      {{ h.render_markdown(res.description) }}
    {% endif %}
    {% if not res.description and c.package.notes %}
      <h3>{{ _('From the dataset abstract') }}</h3>
      <blockquote>{{ h.markdown_extract(h.get_translated(c.package, 'notes')) }}</blockquote>
      <p>{% trans dataset=c.package.title, url=h.url_for(controller='package', action='read', id=c.package['name']) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
    {% endif %}
    {% set versions = h.get_older_versions(res.id, c.package['id']) %}
    <h3>{{ _('This Version') }}</h3>
    {% for version in versions if version['current'] == True %}
        <p>Version {{ versions|length - versions.index(version) }}&emsp;<b>Release Date:</b> {{ version['created']}}</p>
    {% endfor %}
    <h3>{{ _('Latest Version') }}</h3>
    {% set latest_version = versions|first %}
    {% set url=h.url_for(controller='package', action='resource_read', id=c.package['name'], resource_id=latest_version['id']) %}
    <p><a href="{{ url }}">Version {{ versions|length }}</a>&emsp;<b>Release Date:</b> {{ latest_version['created'] }}</p>
    {% if versions|length > 0 %}
    <a href="#versions" class="btn" data-toggle="collapse">Show All Versions</a>
      <div id="versions" class="collapse">
          <br>
          {% for version in versions %}
              {% set url=h.url_for(controller='package', action='resource_read', id=c.package['name'], resource_id=version['id']) %}
              <p><a href="{{ url }}">Version {{ versions|length + 1 - loop.index }}</a>&emsp;<b>Release Date:</b> {{ version['created'] }}</p>
          {% endfor %}
      </div>
    <br>
    {% endif %}
{% endblock %}
